@import "tailwindcss";
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --custom-cyan: rgb(8, 152, 152);
    --custom-grey: rgb(37, 41, 52);
}

@theme inline {
    --animate-custom-horizontal: horizontal 2s linear infinite alternate;
    --animate-custom-vertical: vertical 3s linear infinite alternate;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes horizontal {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(15px);
    }
}
@keyframes vertical {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);
    }
}

@layer components {
    /* ------------Navigation Bar utility classes------------ */
    .nav {
        @apply sticky top-0 flex justify-end md:py-2 pr-10 gap-x-4 text-xl bg-black text-white max-w-[480px] transition-all duration-500;
    }

    .navTitle {
        @apply absolute top-1/2 -translate-y-1/2 p-1 text-4xl cursor-default transition-all duration-500;
    }

    .navLink {
        @apply relative z-10 p-1 cursor-pointer overflow-hidden text-white hover:text-black border-b-2 border-[var(--custom-cyan)] rounded-sm transition-all duration-500;
    }
    .navLink::before {
        @apply content-[''] absolute bottom-0 left-0 w-full h-0 bg-gradient-to-t from-[var(--custom-cyan)] to-[rgb(0,242,242)] -z-10 transition-all duration-500;
    }
    .navLink:hover::before {
        @apply h-full;
    }

    /* ------------Homepage utility classes------------ */
    .hireMe {
        @apply relative w-fit overflow-hidden flex items-center gap-x-2 px-3 py-1 rounded-sm text-[var(--custom-cyan)] bg-gray-600/40 cursor-pointer;
    }
    .hireMe::before {
        @apply content-[''] absolute -left-20 top-0 w-1/3 h-full bg-white/70 skew-x-12 blur-sm transition-all duration-500;
    }
    .hireMe:hover::before {
        @apply left-[120%];
    }

    /* ------------About page utlity classes------------ */
    .sectionEndLine::after {
        @apply lg:hidden content-[''] absolute left-1/2 bottom-0 -translate-x-1/2 w-[100vw] h-[2px] bg-[var(--custom-cyan)] rotate-0 shadow-[0px_0px_20px_var(--custom-cyan)] pointer-events-none;
    }

    .info {
        @apply text-lg md:text-xl p-5 md:px-10 lg:px-15 lg:py-10 xl:px-25 xl:py-10;
    }

    /* ------------Skills page utlity classes------------ */
    .skillsInfo {
        @apply text-lg md:text-xl p-5;
    }

    /* ------------Projects page utility classes------------ */
    .projects::before {
        @apply hidden lg:block content-[''] fixed w-full h-full bg-black/60  top-0 left-0 [clip-path:polygon(0_0,15%_0,70%_100%,0_100%)];
    }

    .projects::after {
        @apply content-[''] absolute left-0 top-0 w-full h-full bg-black/65 lg:bg-black/50;
    }

    .recentProjects::before {
        @apply content-[''] absolute -right-5 -top-2 h-[35px] w-[35px] bg-white/10 rounded-lg -z-10 animate-custom-horizontal;
    }
    .recentProjects::after {
        @apply content-[''] absolute right-5 -bottom-5 lg:-top-15 h-[60px] w-[60px] bg-white/10 rounded-lg -z-10 animate-custom-vertical;
    }

    /* ------------Contacts page utlity classes------------ */
}
