@import "tailwindcss";
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --custom-cyan: rgb(8, 152, 152);
    --custom-grey: rgb(37, 41, 52);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
@layer components {
    /* not all tailwind classes can be applied with @apply */
    /* ------------Navigation Bar utility classes------------ */
    .nav {
        @apply sticky top-0 flex justify-end py-2 pr-10 gap-x-4 text-xl bg-black text-white max-w-[480px] transition-all duration-500;
    }

    .navTitle {
        @apply absolute top-1/2 -translate-y-1/2 p-1 text-4xl cursor-default transition-all duration-500;
    }

    .navLink {
        @apply relative z-10 p-1 cursor-pointer overflow-hidden text-white hover:text-black border-b-2 border-[var(--custom-cyan)] rounded-sm transition-all duration-500;
    }
    .navLink::before {
        @apply content-[''] absolute bottom-0 left-0 w-full h-0 bg-gradient-to-t from-[var(--custom-cyan)] to-[rgb(0,242,242)] -z-10 transition-all duration-500;
    }
    .navLink:hover::before {
        @apply h-full;
    }

    /* ------------Homepage utility classes------------ */
    .hireMe {
        @apply relative w-fit overflow-hidden flex items-center gap-x-2 px-3 py-1 rounded-sm text-[var(--custom-cyan)] bg-gray-600/40 cursor-pointer;
    }
    .hireMe::before {
        @apply content-[''] absolute -left-20 top-0 w-1/3 h-full bg-white/70 skew-x-12 blur-sm transition-all duration-500;
    }
    .hireMe:hover::before {
        @apply left-[120%];
    }

    /* ------------About page utlity classes------------ */
    .frame {
        @apply relative transform w-fit mx-auto my-15 md:my-25 -z-10;
    }
    .profilePic {
        @apply absolute top-1/2 left-1/2 -translate-1/2 h-[85%] w-[82%] z-10;
    }

    /* ------------Skills page utlity classes------------ */

    /* ------------Projects page utility classes------------ */

    /* ------------Contacts page utlity classes------------ */
}
